Repository PaddlePaddle/PASSL: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.14
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        name: Tabs remover (C++)
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$
        args: [--whitespaces-count, '2']
    -   id: remove-tabs
        name: Tabs remover (Python)
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        args: [--whitespaces-count, '4']
        # Exclude the fluid directory but keep the fluid/tests directory.
        # And exclude some unit test files that require tabs.
        exclude: |
            (?x)^(
                python/paddle/fluid/(?!tests).+|
                python/paddle/fluid/tests/unittests/collective/fleet/test_hdfs1.py|
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py
            )$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: (ops|backward|op_[a-z_]+)\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

add params group supporting in optimizer.utils. (#155)
  passl/engine/engine.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/adamw.py
  passl/optimizer/momentum.py
  passl/optimizer/momentum_larc.py
  passl/optimizer/momentum_lars.py
  passl/optimizer/optimizer.py
  passl/optimizer/utils/group_params.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_callable.py
  tasks/ssl/cae/util/lr_sched.py
  tasks/ssl/mae/util/lr_sched.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
Due: pylint-doc-string, copyright_checker

add_pretrain
  passl/data/dataset/__init__.py
  passl/data/dataset/multicrop_dataset.py
  passl/data/preprocess/basic_transforms.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/swav.py
  passl/optimizer/__init__.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

support finer grained tensor parallel and ViT Hybird network
  passl/distributed/__init.py
  passl/distributed/distributed_env.py
  passl/models/__init__.py
  passl/models/vision_transformer_hybrid.py
  passl/nn/finer_grained_mp_layers.py
  tasks/classification/vit/eval.sh
  tasks/classification/vit/evaluate.py
Due: pylint-doc-string, copyright_checker

valid_pretrain
  passl/data/dataset/multicrop_dataset.py
  passl/data/preprocess/basic_transforms.py
  passl/engine/engine.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/resnet.py
  passl/models/swav.py
  passl/optimizer/optimizer.py
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

format
  passl/data/preprocess/basic_transforms.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
Due: pylint-doc-string, copyright_checker

fix_AttrDict_error
  passl/utils/io.py
Due: pylint-doc-string, copyright_checker

replace_swav_resnet
  passl/models/__init__.py
  passl/models/resnet.py
  passl/models/swav.py
  passl/models/swav_resnet.py
  passl/optimizer/momentum_larc.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
Due: pylint-doc-string, copyright_checker

add_ci_readme
  passl/models/swav.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
  tests/CI/case.sh
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp.sh
  tests/CI/ssl/swav/swav_resnet50_224_lp_in1k_1n8c_dp.sh
  tests/CI/ssl/swav/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

compact_lr_group
  passl/engine/engine.py
  passl/models/swav.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum.py
  passl/optimizer/optimizer.py
  passl/optimizer/utils/__init__.py
  passl/optimizer/utils/group_params.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_callable.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
Due: pylint-doc-string, copyright_checker

format
  passl/core/param_fuse.py
  passl/data/dataset/multicrop_dataset.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/models/swav.py
  passl/models/swav_resnet.py
  passl/optimizer/__init__.py
  passl/optimizer/optimizer.py
  passl/optimizer/utils/__init__.py
  passl/optimizer/utils/group_params.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_callable.py
  passl/utils/io.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/pretrain.sh
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp.sh
  tests/CI/ssl/swav/swav_resnet50_224_lp_in1k_1n8c_dp.sh
  tests/CI/ssl/swav/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

valid_ft
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/pretrain_1N8C.sh
  tests/CI/case.sh
Due: copyright_checker

support finer_grained_rowsharded_linear_grad
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

backbone_config
  passl/data/dataset/multicrop_dataset.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/pretrain.sh
  tasks/ssl/swav/pretrain_1N8C.sh
Due: pylint-doc-string, copyright_checker

verified
  passl/data/dataset/imagefolder_dataset.py
  passl/data/dataset/multicrop_dataset.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/models/swav.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

fix
  tests/CI/case.sh
Due: copyright_checker

update
  passl/data/dataset/imagefolder_dataset.py
Due: pylint-doc-string, copyright_checker

support finer_grained_columnsharded_linear_grad and refactor vit network
  passl/distributed/nn/__init.py
  passl/distributed/nn/functional.py
  passl/models/vision_transformer_hybrid.py
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

fix
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/linearprobe.sh
  tasks/ssl/swav/pretrain.sh
  tests/CI/case.sh
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.sh
  tests/CI/ssl/swav/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.sh
Due: pylint-doc-string, copyright_checker

fix nn/functional.py backward return value
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

support amp
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

rename distributed_env.py to env.py
  passl/distributed/env.py
  passl/models/vision_transformer_hybrid.py
  passl/nn/finer_grained_mp_layers.py
  tasks/classification/vit/evaluate.py
Due: pylint-doc-string, copyright_checker

support finer grained tensor parallel and ViT HybirdParallel network (#158)
  passl/distributed/__init.py
  passl/distributed/env.py
  passl/distributed/nn/__init.py
  passl/distributed/nn/functional.py
  passl/models/__init__.py
  passl/models/vision_transformer_hybrid.py
  passl/nn/finer_grained_mp_layers.py
  tasks/classification/vit/eval.sh
  tasks/classification/vit/evaluate.py
Due: pylint-doc-string, copyright_checker

fix_ci
  tests/CI/case.sh
Due: copyright_checker

rewrite cae linear probe.
  passl/engine/engine.py
  passl/models/cae11.py
  passl/optimizer/__init__.py
  tasks/ssl/cae/configs/cae_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

edit_accord_comment
  passl/engine/engine.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/swav.py
  passl/models/swav_resnet.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_scheduler.py
Due: pylint-doc-string, copyright_checker

fix
  passl/models/__init__.py
Due: pylint-doc-string, copyright_checker

[CI] update mocov3_vit_base_patch16_224_pt_in1k_1n8c_dp_fp16o1 loss_base for Paddle#53582
  tests/CI/case.sh
Due: copyright_checker

add mocov2
  passl/data/preprocess/basic_transforms.py
  passl/engine/loops/loop.py
  passl/models/__init__.py
  passl/models/mocov2.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_scheduler.py
  tasks/ssl/mocov2/builder_moco.py
  tasks/ssl/mocov2/configs/mocov2_resnet50_lp_in1k_1n8c.yaml
  tasks/ssl/mocov2/configs/mocov2_resnet50_pt_in1k_1n8c.yaml
  tasks/ssl/mocov2/dataset
  tasks/ssl/mocov2/extract_weight.py
  tasks/ssl/mocov2/linearprobe.sh
  tasks/ssl/mocov2/pretrain.sh
Due: pylint-doc-string, copyright_checker

wrap weight
  passl/models/mocov2.py
  passl/models/resnet.py
  tasks/ssl/mocov2/builder_moco.py
  tasks/ssl/mocov2/configs/mocov2_resnet50_lp_in1k_1n8c.yaml
  tasks/ssl/mocov2/extract_weight.py
Due: pylint-doc-string, copyright_checker

modify contrastive learning
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
Due: pylint-doc-string, copyright_checker

[CI] update mocov3_vit_base_patch16_224_pt_in1k_1n8c_dp_fp16o1 loss_base for Paddle#53582 (#159)
  tests/CI/case.sh
Due: copyright_checker

add README.md with mocov2
  tasks/ssl/mocov2/README.md
  tasks/ssl/mocov2/configs/mocov2_resnet50_lp_in1k_1n8c.yaml
  tasks/ssl/mocov2/configs/mocov2_resnet50_pt_in1k_1n8c.yaml
Due: none

modify README
  tasks/ssl/mocov2/README.md
Due: none

delete dataset link
  tasks/ssl/mocov2/dataset
Due: none

modify README,yaml
  tasks/ssl/mocov2/README.md
  tasks/ssl/mocov2/configs/mocov2_resnet50_lp_in1k_1n8c.yaml
Due: none

modify
  tasks/ssl/mocov2/README.md
Due: none

fix_by_comment
  passl/data/dataset/__init__.py
  passl/data/dataset/fewshot_dataset.py
  passl/data/dataset/imagefolder_dataset.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tests/CI/case.sh
Due: pylint-doc-string, copyright_checker

pretrained_model
  passl/data/dataset/fewshot_dataset.py
  passl/utils/io.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
Due: pylint-doc-string, copyright_checker
