Repository PaddlePaddle/PASSL: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./codestyle/copyright.hook
  language: system

rm modeling in new passl.
  passl/modeling/backbones/moco_vit.py
  passl/modeling/init.py
Due: pylint-doc-string, copyright_checker

refactor classification train loop and contrastive learning train loop and add mocov3
  passl/engine/classification/evaluation.py
  passl/engine/classification/train.py
  passl/engine/classification/utils.py
  passl/engine/engine.py
  passl/engine/loops/__init__.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/__init__.py
  passl/models/mocov3.py
  tasks/classification/cait/configs/cait_s24_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_2n16c_dp_fp16o2.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o1.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_384_ft_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_224_in21k_4n32c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_384_in1k_ft_4n32c_dp_fp16o2.yaml
  tasks/ssl/mocov3/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

fix syntax error in case.
  tests/CI/case.sh
Due: copyright_checker

fix case names and update requirements.
  requirements.txt
  tests/CI/case.sh
  tests/CI/ssl/byol/byol_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/byol/byol_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simclr/simclr_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simclr/simclr_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_r50_pt_in1k_1n8c_dp_fp32.sh
Due: copyright_checker

support mocov3 pretrain
  passl/data/preprocess/basic_transforms.py
  passl/data/utils/transform_utils.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/mocov3.py
  passl/models/utils/averaged_model.py
  passl/utils/config.py
  passl/utils/infohub.py
  passl/utils/misc.py
  tasks/classification/cait/configs/cait_s24_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_2n16c_dp_fp16o2.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o1.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_384_ft_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_224_in21k_4n32c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_384_in1k_ft_4n32c_dp_fp16o2.yaml
  tasks/ssl/mocov3/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_pt_in1k_4n32c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

fix codestyple
  passl/engine/engine.py
  passl/engine/loops/__init__.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/mocov3.py
  passl/models/utils/averaged_model.py
  passl/utils/infohub.py
  passl/utils/misc.py
Due: pylint-doc-string, copyright_checker

fix case
  tests/CI/case.sh
Due: copyright_checker

fix tests and trainer.
  passl_v110/datasets/builder.py
  passl_v110/engine/trainer.py
  passl_v110/hooks/log_hook.py
  passl_v110/modeling/architectures/BYOL.py
  tests/CI/case.sh
  tests/CI/ssl/byol/byol_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/byol/byol_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simclr/simclr_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simclr/simclr_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_r50_pt_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_r50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_r50_pt_in1k_1n8c_dp_fp32.sh
Due: pylint-doc-string, copyright_checker

support mocov3 linear probe
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/loop.py
  passl/models/mocov3.py
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/mocov3/linearprobe.sh
  tests/CI/case.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

support mocov3 finetune
  passl/engine/loops/classification_loop.py
  passl/engine/loops/loop.py
  tasks/ssl/mocov3/configs/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/mocov3/finetune.sh
  tasks/ssl/mocov3/pretrain.sh
  tests/CI/case.sh
  tests/CI/ssl/mocov3/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

support save and load
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/loop.py
  passl/utils/io.py
  tests/CI/case.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

fix readme
  passl/engine/loops/classification_loop.py
  tasks/ssl/mocov3/README.md
Due: pylint-doc-string, copyright_checker

fix
  passl/engine/loops/classification_loop.py
Due: pylint-doc-string, copyright_checker

fix case
  tests/CI/case.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: copyright_checker

fix ci
  tests/CI/case.sh
Due: copyright_checker

refactor classification train loop and contrastive learning train loop and add mocov3 (#145)
  passl/data/preprocess/basic_transforms.py
  passl/data/utils/transform_utils.py
  passl/engine/classification/evaluation.py
  passl/engine/classification/train.py
  passl/engine/classification/utils.py
  passl/engine/engine.py
  passl/engine/loops/__init__.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/__init__.py
  passl/models/mocov3.py
  passl/models/utils/averaged_model.py
  passl/utils/config.py
  passl/utils/infohub.py
  passl/utils/io.py
  passl/utils/misc.py
  tasks/classification/cait/configs/cait_s24_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o1.yaml
  tasks/classification/swin/configs/swin_base_patch4_window7_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_384_ft_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_224_in21k_4n32c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_384_in1k_ft_4n32c_dp_fp16o2.yaml
  tasks/ssl/mocov3/README.md
  tasks/ssl/mocov3/configs/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/mocov3/linearprobe.sh
  tasks/ssl/mocov3/pretrain.sh
  tests/CI/case.sh
  tests/CI/ssl/mocov3/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/mocov3/mocov3_vit_base_patch16_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

update ci script
  tests/CI/case.sh
Due: copyright_checker

fix loss&mem
  tests/CI/case.sh
Due: copyright_checker

fix
  tests/CI/case.sh
Due: copyright_checker

transfer_swav
  passl/models/resnet.py
  passl/models/swav.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/mocov3_vit_base_patch16_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/linearprobe.sh
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

add resnet and simsiam linear probe
  passl/models/__init__.py
  passl/models/resnet.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum_larc.py
Due: pylint-doc-string, copyright_checker

add simsiam linear probe yaml
  tasks/ssl/simsiam/configs/simsiam_resnet50_lp_in1k_1n8c_dp_fp32.yaml
Due: none

valid_train
  passl/models/__init__.py
  passl/models/resnet.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/linearprobe.sh
  tools/train.py
Due: pylint-doc-string, copyright_checker

add resnet and simsiam linear probe (#147)
  passl/models/__init__.py
  passl/models/resnet.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum_larc.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_lp_in1k_1n8c_dp_fp32.yaml
Due: pylint-doc-string, copyright_checker

update ci script (#146)
  tests/CI/case.sh
Due: copyright_checker

fix protobuf version conflict
  tests/test_tipc/classification/benchmark_common/prepare.sh
Due: copyright_checker

align_bn
  passl/models/resnet.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
Due: pylint-doc-string, copyright_checker

add mocov3 benchmark
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_deit_base_patch16_224_ft_bs128_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_lp_bs128_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_pt_bs64_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/run_benchmark.sh
Due: copyright_checker

support simsiam pretrain
  passl/core/param_fuse.py
  passl/models/resnet.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/optimizer.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_callable.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
  tasks/ssl/simsiam/linearprobe.sh
  tasks/ssl/simsiam/pretrain.sh
Due: pylint-doc-string, copyright_checker

fix save
  passl/models/mocov3.py
  passl/models/simsiam.py
Due: pylint-doc-string, copyright_checker

fix
  tests/test_tipc/ssl/mocov3/benchmark_common/run_benchmark.sh
Due: copyright_checker

update max_iter
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_lp_bs128_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_pt_bs64_fp16o1_DP8-MP1.sh
Due: copyright_checker

fix save
  passl/models/mocov3.py
Due: pylint-doc-string, copyright_checker

freeze_align
  passl/core/param_fuse.py
  passl/engine/loops/classification_loop.py
  passl/models/resnet.py
  passl/models/swav.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum.py
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
Due: pylint-doc-string, copyright_checker

fix larc.
  passl/optimizer/momentum_larc.py
Due: pylint-doc-string, copyright_checker

[benchmark] add mocov3 (#150)
  passl/models/mocov3.py
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_deit_base_patch16_224_ft_bs128_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_lp_bs128_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/N1C8/mocov3_vit_base_patch16_224_pt_bs64_fp16o1_DP8-MP1.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/run_benchmark.sh
Due: pylint-doc-string, copyright_checker

dinov1 old codes
  configs/dino/dino_clas_small_p16_224.yaml
  configs/dino/dino_small_p16_224.yaml
  passl_v110/datasets/preprocess/__init__.py
  passl_v110/datasets/preprocess/multi_crop.py
  passl_v110/hooks/__init__.py
  passl_v110/hooks/dino_hook.py
  passl_v110/hooks/optimizer_hook.py
  passl_v110/modeling/architectures/DINO.py
  passl_v110/modeling/architectures/__init__.py
  passl_v110/modeling/architectures/clas.py
  passl_v110/modeling/backbones/vision_transformer.py
  passl_v110/modeling/heads/__init__.py
  passl_v110/modeling/heads/dino_head.py
  passl_v110/modeling/necks/__init__.py
  passl_v110/modeling/necks/base_neck.py
  passl_v110/utils/misc.py
Due: pylint-doc-string, copyright_checker

fix metric info updates for best models.
  passl/engine/loops/classification_loop.py
Due: pylint-doc-string, copyright_checker

fix metric info updates for best models. (#153)
  passl/engine/loops/classification_loop.py
Due: pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
