Repository PaddlePaddle/PASSL: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.14
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        name: Tabs remover (C++)
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$
        args: [--whitespaces-count, '2']
    -   id: remove-tabs
        name: Tabs remover (Python)
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        args: [--whitespaces-count, '4']
        # Exclude the fluid directory but keep the fluid/tests directory.
        # And exclude some unit test files that require tabs.
        exclude: |
            (?x)^(
                python/paddle/fluid/(?!tests).+|
                python/paddle/fluid/tests/unittests/collective/fleet/test_hdfs1.py|
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py
            )$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: (ops|backward|op_[a-z_]+)\.yaml$
    -   id: trailing-whitespace
        files: (.*\.(py|bzl|md|rst|c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps|cmake|yaml|yml|hook)|BUILD|.*\.BUILD|WORKSPACE|CMakeLists\.txt)$
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix larc. (#151)
  passl/optimizer/momentum_larc.py
Due: pylint-doc-string, copyright_checker

fix case
  passl/models/simsiam.py
  tests/CI/case.sh
Due: pylint-doc-string, copyright_checker

fix case
  tests/CI/case.sh
Due: copyright_checker

add_ft_swav
  passl/data/dataset/imagefolder_dataset.py
  passl/models/swav.py
  passl/scheduler/lr_scheduler.py
  tasks/ssl/swav/configs/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

add_pretrain
  passl/data/dataset/multicrop_dataset.py
  passl/data/preprocess/basic_transforms.py
  passl/models/swav.py
  passl/scheduler/lr_scheduler.py
  tasks/ssl/swav/configs/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/mocov3_vit_base_patch16_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/linearprobe.sh
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

support simsiam pretrain (#149)
  passl/core/param_fuse.py
  passl/models/resnet.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/optimizer.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_callable.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
  tasks/ssl/simsiam/linearprobe.sh
  tasks/ssl/simsiam/pretrain.sh
  tests/CI/case.sh
Due: pylint-doc-string, copyright_checker

add simsiam ci and readme.
  tasks/ssl/simsiam/README.md
  tests/CI/case.sh
  tests/CI/ssl/simsiam/simsiam_resnet50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.sh
Due: copyright_checker

fix simsiam ci and readme.
  tasks/ssl/simsiam/README.md
  tests/CI/case.sh
Due: copyright_checker

update_pretrain
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

ready_for_semi
  passl/models/swav.py
  passl/optimizer/__init__.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
Due: pylint-doc-string, copyright_checker

same
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
Due: pylint-doc-string, copyright_checker

refine ci and readme.
  tasks/ssl/simsiam/README.md
  tests/CI/case.sh
Due: copyright_checker

add simsiam ci and readme. (#154)
  tasks/ssl/simsiam/README.md
  tests/CI/case.sh
  tests/CI/ssl/simsiam/simsiam_resnet50_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/simsiam/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.sh
Due: copyright_checker

add params grouping functions in model.utils.
  passl/models/utils/group_params.py
Due: pylint-doc-string, copyright_checker

remove unused imports.
  passl/models/utils/group_params.py
Due: pylint-doc-string, copyright_checker

fix other_group for group_with_matcher
  passl/models/utils/group_params.py
Due: pylint-doc-string, copyright_checker

split_params
  passl/data/__init__.py
  passl/data/dataset/imagefolder_dataset.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/models/__init__.py
  passl/models/swav.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum.py
  passl/optimizer/optimizer.py
  passl/scheduler/__init__.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

split_params
  passl/data/__init__.py
  passl/data/dataset/imagefolder_dataset.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/models/__init__.py
  passl/models/swav.py
  passl/optimizer/__init__.py
  passl/optimizer/momentum.py
  passl/optimizer/optimizer.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_scheduler.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/pretrain.sh
Due: pylint-doc-string, copyright_checker

1. add lr and param_groups subsection in optimizer section for simsiam config. 2. rm LRScheduler section for simsiam config. 3. replace param_group function into param_group config for simsiam.
  passl/engine/engine.py
  passl/models/simsiam.py
  passl/optimizer/__init__.py
  passl/optimizer/adamw.py
  passl/optimizer/momentum.py
  passl/optimizer/momentum_larc.py
  passl/optimizer/momentum_lars.py
  passl/optimizer/optimizer.py
  passl/optimizer/utils/group_params.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
Due: pylint-doc-string, copyright_checker

add default lr for optimizer and refine doc.
  passl/optimizer/__init__.py
  passl/optimizer/optimizer.py
Due: pylint-doc-string, copyright_checker

remove unused codes in simsiam.
  passl/models/simsiam.py
Due: pylint-doc-string, copyright_checker

fix logger info.
  passl/optimizer/__init__.py
Due: pylint-doc-string, copyright_checker

fix group_params bug.
  passl/optimizer/utils/group_params.py
Due: pylint-doc-string, copyright_checker

validate_ft
  passl/data/dataset/imagefolder_dataset.py
  passl/engine/loops/classification_loop.py
  passl/models/resnet.py
  passl/models/swav.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/finetune.sh
Due: pylint-doc-string, copyright_checker

fix weight_decay bug.
  passl/optimizer/__init__.py
  passl/optimizer/utils/group_params.py
Due: pylint-doc-string, copyright_checker

add simsiam
  tests/test_tipc/ssl/simsiam/N1C8/simsiam_resnet50_lp_bs512_fp32_DP8-MP1.sh
  tests/test_tipc/ssl/simsiam/N1C8/simsiam_resnet50_pt_bs64_fp32_DP8-MP1.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/prepare.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/run_benchmark.sh
Due: copyright_checker

fix lr adjust method in cae/mae.
  tasks/ssl/cae/util/lr_sched.py
  tasks/ssl/mae/util/lr_sched.py
Due: pylint-doc-string, copyright_checker

format
  passl/data/dataset/imagefolder_dataset.py
  passl/models/swav.py
  passl/scheduler/lr_scheduler.py
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp16o1.yml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/linearprobe.sh
Due: pylint-doc-string, copyright_checker

remove unused codes and refine variable names.
  passl/engine/engine.py
  passl/models/utils/group_params.py
  passl/optimizer/__init__.py
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
Due: pylint-doc-string, copyright_checker

add some conditions and refine docs.
  passl/engine/engine.py
  passl/optimizer/__init__.py
  passl/optimizer/optimizer.py
  passl/optimizer/utils/group_params.py
Due: pylint-doc-string, copyright_checker

add simsiam (#157)
  tests/test_tipc/ssl/simsiam/N1C8/simsiam_resnet50_lp_bs512_fp32_DP8-MP1.sh
  tests/test_tipc/ssl/simsiam/N1C8/simsiam_resnet50_pt_bs64_fp32_DP8-MP1.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/prepare.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/run_benchmark.sh
Due: copyright_checker

split lr scheduler build function and group params function; refine function names.
  passl/optimizer/__init__.py
Due: pylint-doc-string, copyright_checker

add decay_unit in lr_cfg and assert decay_unit == lr_decay_unit
  passl/engine/engine.py
  passl/optimizer/__init__.py
Due: pylint-doc-string, copyright_checker

add decay_unit in lr config.
  tasks/ssl/simsiam/configs/simsiam_resnet50_pt_in1k_1n8c_dp_fp32.yaml
Due: none

set decay_unit to lr_decay_unit if not set in lr scheduler config.
  passl/optimizer/__init__.py
Due: pylint-doc-string, copyright_checker

set decay_unit by lr_decay_unit directly.
  passl/optimizer/__init__.py
Due: pylint-doc-string, copyright_checker
