Repository PaddlePaddle/PASSL: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./codestyle/copyright.hook
  language: system

add_models
  tasks/ssl/swav/README.md
Due: none

CI
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.sh
  tests/CI/ssl/swav/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.sh
Due: copyright_checker

CI
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.sh
Due: copyright_checker

fix_CI
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
Due: none

update_10per
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
Due: none

fix_ci
  tasks/ssl/swav/README.md
  tests/CI/case.sh
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.sh
Due: copyright_checker

ft_ips
  tests/CI/case.sh
Due: copyright_checker

fix_by_comment
  passl/data/dataset/__init__.py
  passl/data/dataset/fewshot_dataset.py
  passl/data/dataset/swavmulticrop_datatset.py
  passl/engine/engine.py
  passl/engine/loops/loop.py
  passl/models/swav.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

update
  passl/data/dataset/__init__.py
  passl/data/dataset/swavmulticrop_datatset.py
Due: pylint-doc-string, copyright_checker

update
  tests/CI/case.sh
Due: copyright_checker

fix cae config and CI.
  passl/models/cae.py
  tasks/ssl/cae/configs/cae_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tests/CI/ssl/cae/cae_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

delete cae11.py
  passl/models/cae11.py
Due: pylint-doc-string, copyright_checker

pretrain_fix
  passl/models/swav.py
  tests/CI/case.sh
Due: pylint-doc-string, copyright_checker

fix cae function name
  passl/models/cae.py
  tasks/ssl/cae/configs/cae_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
Due: pylint-doc-string, copyright_checker

[Feature] Add SwAV (#156)
  passl/data/__init__.py
  passl/data/dataset/__init__.py
  passl/data/dataset/fewshot_dataset.py
  passl/data/dataset/imagefolder_dataset.py
  passl/data/dataset/swavmulticrop_datatset.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  passl/engine/loops/loop.py
  passl/models/__init__.py
  passl/models/swav.py
  passl/optimizer/momentum_larc.py
  passl/optimizer/utils/__init__.py
  passl/scheduler/__init__.py
  passl/scheduler/lr_scheduler.py
  passl/utils/io.py
  tasks/ssl/swav/README.md
  tasks/ssl/swav/configs/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_pt_in1k_4n32c_dp_fp16o1.yaml
  tasks/ssl/swav/finetune.sh
  tasks/ssl/swav/linearprobe.sh
  tasks/ssl/swav/pretrain.sh
  tasks/ssl/swav/pretrain_1N8C.sh
  tests/CI/case.sh
  tests/CI/ssl/swav/swav_resnet50_224_ft_in1k_1n4c_dp_fp32.sh
  tests/CI/ssl/swav/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.sh
  tests/CI/ssl/swav/swav_resnet50_224_pt_in1k_1n8c_dp_fp16o1.sh
  tools/train.py
Due: pylint-doc-string, copyright_checker

moco
  tests/CI/case.sh
  tests/CI/ssl/mocov2/mocov2_resnet50_lp_in1k_1n8c_dp.sh
  tests/CI/ssl/mocov2/mocov2_resnet50_pt_in1k_1n8c_dp.sh
Due: copyright_checker

add dino dinov2 linear prob
  passl/data/preprocess/basic_transforms.py
  passl/distributed/nn/functional.py
  passl/engine/engine.py
  passl/models/__init__.py
  passl/models/dino/__init__.py
  passl/models/dino/dino_vit.py
  passl/models/dinov2/__init__.py
  passl/models/dinov2/dinov2_vit.py
  tasks/ssl/dino/README.md
  tasks/ssl/dino/configs/dino_deit_small_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_deit_small_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_vit_base_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/linearprobe.sh
  tasks/ssl/dinov2/README.md
  tasks/ssl/dinov2/configs/dinov2_vit_base_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_gaint2_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_large_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_small_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/linearprobe.sh
Due: pylint-doc-string, copyright_checker

add CI
  tests/CI/case.sh
Due: copyright_checker

add CI
  tasks/ssl/mocov2/configs/mocov2_resnet50_pt_in1k_1n8c.yaml
Due: none

Update case.sh
  tests/CI/case.sh
Due: copyright_checker

add model
  tests/CI/ssl/mocov2/mocov2_resnet50_lp_in1k_1n8c_dp.sh
Due: copyright_checker

add model
  tests/CI/ssl/mocov2/mocov2_resnet50_lp_in1k_1n8c_dp.sh
  tests/CI/ssl/mocov2/mocov2_resnet50_pt_in1k_1n8c_dp.sh
Due: copyright_checker

modify ci
  tests/CI/case.sh
Due: copyright_checker

add CI
  tasks/ssl/dino/README.md
  tasks/ssl/dinov2/README.md
  tests/CI/ssl/dino/dino_deit_base_patch8_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dino/dino_deit_small_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dino/dino_deit_small_patch8_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_base_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_gaint2_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_large_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_small_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: copyright_checker

add parallel softmax
  passl/distributed/__init__.py
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

add parallel softmax (#164)
  passl/distributed/__init__.py
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

support hight dim for w in finer_grained_mp_layers
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

support hight dim for w in finer_grained_mp_layers (#165)
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

update finer_grained_mp communication group
  passl/distributed/env.py
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

rename
  passl/distributed/env.py
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

fix hcg
  passl/distributed/env.py
Due: pylint-doc-string, copyright_checker

update finer_grained_mp communication group (#166)
  passl/distributed/env.py
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

support dp + mp hybrid training
  passl/core/sync_utils.py
  passl/data/__init__.py
  passl/distributed/env.py
  passl/engine/engine.py
  passl/engine/loops/classification_loop.py
  passl/engine/loops/contrastive_learning_loop.py
  tasks/classification/vit/configs/ViT_hybird_base_patch16_224_in1k_1n8c_dp4mp2_fp16o2.yaml
  tasks/classification/vit/evaluate.py
  tasks/classification/vit/train_vit_hybrid.sh
Due: pylint-doc-string, copyright_checker

fix CI
  tasks/ssl/dino/README.md
  tasks/ssl/dino/configs/dino_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tests/CI/case.sh
  tests/CI/ssl/dino/dino_deit_base_patch8_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dino/dino_deit_small_patch8_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_base_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_gaint2_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_large_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: copyright_checker

fix dinov1 CI
  tests/CI/case.sh
Due: copyright_checker

fix dinov2 CI
  tests/CI/case.sh
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
