Repository PaddlePaddle/PASSL: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./codestyle/copyright.hook
  language: system

fix pylayer when bias is None
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

update_doc
  tasks/ssl/swav/README.md
Due: none

rename
  passl/__init__.py
  passl/distributed/nn/__init__.py
Due: pylint-doc-string, copyright_checker

fix pylayer when bias is None in finer_grained_mp_layers.py (#168)
  passl/__init__.py
  passl/distributed/nn/__init__.py
  passl/nn/finer_grained_mp_layers.py
Due: pylint-doc-string, copyright_checker

[Feature] Support DINO DINOv2 linear prob (#161)
  passl/data/preprocess/basic_transforms.py
  passl/engine/engine.py
  passl/models/__init__.py
  passl/models/dino/__init__.py
  passl/models/dino/dino_vit.py
  passl/models/dinov2/__init__.py
  passl/models/dinov2/dinov2_vit.py
  tasks/ssl/dino/README.md
  tasks/ssl/dino/configs/dino_deit_small_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_deit_small_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_vit_base_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/linearprobe.sh
  tasks/ssl/dinov2/README.md
  tasks/ssl/dinov2/configs/dinov2_vit_base_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_gaint2_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_large_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_small_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/linearprobe.sh
  tests/CI/case.sh
  tests/CI/ssl/dino/dino_deit_small_patch16_224_lp_in1k_1n8c_dp_fp16o1.sh
  tests/CI/ssl/dinov2/dinov2_vit_small_patch14_224_lp_in1k_1n8c_dp_fp16o1.sh
Due: pylint-doc-string, copyright_checker

add row2col, col2row, all2all communication api
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

merge row2col and col2row to reshard_transpose
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

add sync_op=False logic
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

update cae_ft loss_base for Paddle#54183
  tests/CI/case.sh
Due: copyright_checker

update cae_ft loss_base for Paddle#54183 (#171)
  tests/CI/case.sh
Due: copyright_checker

add all2all and reshard_transpose communication api (#170)
  passl/distributed/nn/functional.py
Due: pylint-doc-string, copyright_checker

[benchmark] Delete dataset after task completion
  tests/test_tipc/classification/benchmark_common/prepare.sh
  tests/test_tipc/classification/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/cae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/cae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/convmae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/convmae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/mae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/prepare.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/run_benchmark.sh
Due: copyright_checker

[benchmark] Delete dataset after task completion (#172)
  tests/test_tipc/classification/benchmark_common/prepare.sh
  tests/test_tipc/classification/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/cae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/cae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/convmae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/convmae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/mae/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mae/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/prepare.sh
  tests/test_tipc/ssl/mocov3/benchmark_common/run_benchmark.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/prepare.sh
  tests/test_tipc/ssl/simsiam/benchmark_common/run_benchmark.sh
Due: copyright_checker

support adan optimizer
  passl/loss/__init__.py
  passl/metric/metrics.py
  passl/optimizer/__init__.py
  passl/optimizer/adan.py
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_adan_1n8c_dp_fp16o2.yaml
Due: pylint-doc-string, copyright_checker

[CI]update convmae_pt mem_base for Paddle#54383
  tests/CI/case.sh
Due: copyright_checker

[CI]update convmae_pt mem_base for Paddle#54383 (#174)
  tests/CI/case.sh
Due: copyright_checker

support adan optimizer (#173)
  passl/loss/__init__.py
  passl/metric/metrics.py
  passl/optimizer/__init__.py
  passl/optimizer/adan.py
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_adan_1n8c_dp_fp16o2.yaml
Due: pylint-doc-string, copyright_checker

unify class_num to num_classes
  passl/models/convnext.py
  passl/models/deit.py
  passl/models/dino/dino_vit.py
  passl/models/dinov2/dinov2_vit.py
  passl/models/resnet.py
  passl/models/swav.py
  passl/models/vision_transformer.py
  passl/models/vision_transformer_hybrid.py
  tasks/ssl/cae/main_finetune.py
  tasks/ssl/mae/main_finetune.py
Due: pylint-doc-string, copyright_checker

unify class_num to num_classes
  configs/deit/deit-base-p16-pt_in1k-224_2n16c_fp16_o1_dp.yaml
  configs/lvvit/lvvit_tiny.yaml
  configs/vision_transformer/vit-base-p16-pt_in1k-224_4n32c_fp16_o1_dp.yaml
  configs/vision_transformer/vit-base-p16-pt_in1k-224_4n32c_fp16_o1_sharding.yaml
  configs/vision_transformer/vit-base-p16-pt_in1k-224_4n32c_fp16_o2_dp.yaml
  configs/vision_transformer/vit-base-p16-pt_in1k-224_4n32c_fp16_o2_sharding.yaml
  configs/vision_transformer/vit-base-p16-pt_in1k-224_4n32c_fp32_dp.yaml
  configs/vision_transformer/vit-g-p14-pt_in1k-224_1n8c.yaml
Due: none

unify class_num to num_classes in model
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp16o2.yaml
  tasks/classification/convnext/configs/ConvNeXt_base_224_in1k_4n32c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_1n8c_dp_fp32.yaml
  tasks/classification/deit/configs/DeiT_base_patch16_224_in1k_2n16c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_224_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_base_patch16_384_ft_in1k_1n8c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_224_in21k_4n32c_dp_fp16o2.yaml
  tasks/classification/vit/configs/ViT_large_patch16_384_in1k_ft_4n32c_dp_fp16o2.yaml
  tasks/ssl/dino/configs/dino_deit_small_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_deit_small_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dino/configs/dino_vit_base_patch8_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_base_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_gaint2_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_large_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/dinov2/configs/dinov2_vit_small_patch14_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_deit_base_patch16_224_ft_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/mocov3/configs/mocov3_vit_base_patch16_224_lp_in1k_1n8c_dp_fp16o1.yaml
  tasks/ssl/simsiam/configs/simsiam_resnet50_lp_in1k_1n8c_dp_fp32.yaml
  tasks/ssl/swav/configs/swav_resnet50_224_lp_in1k_1n8c_dp_fp32.yaml
Due: none

debug
  tasks/ssl/cae/main_finetune.py
  tasks/ssl/mae/main_finetune.py
Due: pylint-doc-string, copyright_checker

test
  tools/train.py
Due: pylint-doc-string, copyright_checker

fix bug for python 3.7 to python 3.10
  passl/models/utils/pos_embed.py
  requirements.txt
Due: pylint-doc-string, copyright_checker

fix tensor fusion bug Paddle#55279
  passl/core/param_fuse.py
Due: pylint-doc-string, copyright_checker

update mae_ft loss_base for Paddle#54653
  tests/CI/case.sh
Due: copyright_checker

update mae_ft loss_base for Paddle#54653 (#179)
  tests/CI/case.sh
Due: copyright_checker

fix bug for python 3.7 to python 3.10 (#178)
  passl/core/param_fuse.py
  passl/models/utils/pos_embed.py
  requirements.txt
Due: pylint-doc-string, copyright_checker

update vit_base for Paddle#55639
  tests/CI/case.sh
Due: copyright_checker

update
  tests/CI/case.sh
Due: copyright_checker

[CI]update vit_base for Paddle#55639 (#180)
  tests/CI/case.sh
Due: copyright_checker

Revert "[CI]update vit_base for Paddle#55639 (#180)"
  tests/CI/case.sh
Due: copyright_checker

update loss_base for Paddle#55639
  tests/CI/case.sh
Due: copyright_checker

fix
  tests/CI/case.sh
Due: copyright_checker

fix cae_pt for py310
  tasks/ssl/cae/util/masking_generator.py
Due: pylint-doc-string, copyright_checker

Revert "[CI]update vit_base for Paddle#55639 (#180)" (#181)
  tests/CI/case.sh
Due: copyright_checker

fix cae_pt bug for python3.7 to python3.10
  tasks/ssl/cae/util/masking_generator.py
Due: pylint-doc-string, copyright_checker

fix cae_pt bug for python3.7 to python3.10 (#183)
  tasks/ssl/cae/util/masking_generator.py
Due: pylint-doc-string, copyright_checker

update CI base for cuda117&py310
  tests/CI/before_hook.sh
  tests/CI/case.sh
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
